* {transition: none !important;}
#receipt {
    border: 1px solid #000 !important;
    background-color: #ffffff !important;
    width: 245px !important;
    border-radius: 5px !important;
    padding: 5px !important;
    font-family: calibri !important;
}
#receipt h1 {
    text-align: center !important;
    background-color: #000000 !important;
    padding: 5px !important;
    margin-top: -5px !important;
    margin-left: -5px !important;
    margin-right: -5px !important;
    margin-bottom: 5px !important;
    color: #ffffff !important;
}
#receipt img {
    width: 70px !important;
    float: left!important;
}
#receipt h2 {
    font-size: 20px !important;
    font-weight: bold !important;
    padding: 5px !important;
    color: #000000 !important;
}
